*{
    margin: 0px;
    padding: 0px;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    position:relative;
    top: 0;
    width: 1200px;
    height: 75px;
    margin: 20px;
}

.logo{
    image-orientation: 30px;
    color: black;
    font-size: 45px;
    font-family: serif;
    padding-left: 10px;
    float: left;
    padding-top: 10px;
}

.search{
    width: 350px;
    float: left;
    margin-left: 190px;
}

.srch{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 250px;
    height: 40px;
    background: transparent;
    border: 1px solid black;
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 13px;
    float: left;
    padding: 10px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: transparent;
    border: 1px solid black;
    margin-top: 13px;
    color: black;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn :focus{
    outline: none;
}

.srch :focus{
    outline: black;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
    color: black;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

ul li{
    list-style: none;
    margin-left: 110px;
    margin-top: 20px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: purple;
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a :hover{
    color: aliceblue;
}